<div class='home'>
  <h1 class='home-title'>
    <span class='letter' [@moveLetter]='states[0]' (@moveLetter.done)='onLetterTop(0)'>Z</span><!--
  --><span class='letter' [@moveLetter]='states[1]' (@moveLetter.done)='onLetterTop(1)'>e</span><!--
  --><span class='letter' [@moveLetter]='states[2]' (@moveLetter.done)='onLetterTop(2)'>n</span><!--
  --><span class='letter' [@moveLetter]='states[3]' (@moveLetter.done)='onLetterTop(3)'>i</span><!--
  --><span class='letter' [@moveLetter]='states[4]' (@moveLetter.done)='onLetterTop(4)'>c</span><!--
  --><span class='letter' [@moveLetter]='states[5]' (@moveLetter.done)='onLetterTop(5)'>o</span><!--
  --><span class='letter' [@moveLetter]='states[6]' (@moveLetter.done)='onLetterTop(6)'>u</span><!--
  --><span class='letter' [@moveLetter]='states[7]' (@moveLetter.done)='onLetterTop(7)'>n</span><!--
  --><span class='letter' [@moveLetter]='states[8]' (@moveLetter.done)='onLetterTop(8)'>t</span>
  </h1>
</div>
